body {
  justify-content: center;
  align-items: center;
  background: rgb(255, 0, 0);
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
    
  background: rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  height: 30px;
  width: 50px;
}

.progress-value {
  animation: load 2s normal forwards;
  box-shadow: 0 10px 40px -10px rgba(255, 255, 255, 0);
  background: rgb(1, 109, 252);
  height: 50px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}